{% extends "html/common/base_qt.html" %}


{% block content %}

<div data-role="listview" class="list-content" >
    <a href="index.php@g=Wap&m=Index&a=content&id=304&token=1280278480&wecha_id=o0LVquEUQZAJWEkbfRgk47XcQIUk&loveU=mp.weixin.qq.com" data-role="none">
        <div class="text">企业微网站</div>
            <p></p>
        </a><a href="index.php@g=Wap&m=Card&a=vip&token=1280278480&wecha_id=o0LVquEUQZAJWEkbfRgk47XcQIUk&loveU=mp.weixin.qq.com" data-role="none">
        <div class="text">微会员卡功能展示</div>
            <p></p>
        </a><a href="index.php@g=Wap&m=Signscore&a=index&token=1280278480&wecha_id=o0LVquEUQZAJWEkbfRgk47XcQIUk&loveU=mp.weixin.qq.com" data-role="none">
        <div class="text">会员签到功能展示</div>
            <p></p>
        </a><a href="index.php@g=Wap&m=Product&a=cats&token=1280278480&wecha_id=o0LVquEUQZAJWEkbfRgk47XcQIUk&loveU=mp.weixin.qq.com" data-role="none">
        <div class="text">微商城功能展示</div>
            <p></p>
        </a><a href="index.php@g=Wap&m=Product&a=cats&token=1280278480&dining=1&wecha_id=o0LVquEUQZAJWEkbfRgk47XcQIUk&loveU=mp.weixin.qq.com" data-role="none">
        <div class="text">微订餐功能展示</div>
            <p></p>
        </a><a href="index.php@g=Wap&m=Selfform&a=lists&token=1280278480&typeid=11&wecha_id=o0LVquEUQZAJWEkbfRgk47XcQIUk&loveU=mp.weixin.qq.com" data-role="none">
        <div class="text">微预约功能展示</div>
            <p></p>
        </a><a href="index.php@g=Wap&m=Groupon&a=cats&token=1280278480&wecha_id=o0LVquEUQZAJWEkbfRgk47XcQIUk&loveU=mp.weixin.qq.com" data-role="none">
        <div class="text">微团购功能展示</div>
            <p></p>
        </a>    <!--
<div class="button">
<a href="#" class="prve" data-role="none">上一页</a>
<a href="#" class="next" data-role="none">下一页</a>
</div>
-->
</div>
{% endblock %}