{% extends "html/common/base_qt.html" %}


{% block content %}

<div class="content">
    <p><p><br/></p><p style="text-align: center;"><strong><span style="font-size: 20px;">关于我们</span></strong></p><p><br/></p><p style="text-align: center;"><img src="/static/weixin/qt/images/p1.png"/></p><p><br/></p><p>《舌尖上的中国》为中国中央电视台播出的美食类纪录片，主要内容为中国各地美食生态。通过中华美食的多个侧面，来展现食物给中国人生活带来的仪式、伦理等方面的文化；见识中国特色食材以及与食物相关、构成中国美食特有气质的一系列元素；了解中华饮食文化的精致和源远流长。本片制作精良，7集内容制作耗时13个月，2012年5月在央视首播后，在网络引起了广泛的关注。该片于2012年7月在台湾公视播出，2012年9月在新加坡星和都会台播出，2012年10月起在香港TVB翡翠台播出。第二季已确定于2014年4月18日播出（详情请参看词条《舌尖上的中国2》）</p><p><br/></p><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="font-size: 18px;"><strong>公司地址</strong></span>：中央广播电台<br/></p><p><br/></p><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="font-size: 18px;"><strong>全国招商加盟热线</strong></span>：xxx-xxx-xxxx<br/></p><p><br/></p></p>
</div>


{% endblock %}