{% extends "html/common/base_qt.html" %}


{% block content %}
<div data-role="listview" class="list-content" >
    <a href="index.php@g=Wap&m=Index&a=content&id=1036&token=1280278480&wecha_id=o0LVquEUQZAJWEkbfRgk47XcQIUk&loveU=mp.weixin.qq.com" data-role="none">
        <div class="text">微赢销教你五步搞定商家微信营销策划方案</div>
            <p></p>
        </a><a href="index.php@g=Wap&m=Index&a=content&id=1035&token=1280278480&wecha_id=o0LVquEUQZAJWEkbfRgk47XcQIUk&loveU=mp.weixin.qq.com" data-role="none">
        <div class="text">美团网浙江大区付志华任职微赢销销售副总裁</div>
            <p></p>
        </a><a href="index.php@g=Wap&m=Index&a=content&id=844&token=1280278480&wecha_id=o0LVquEUQZAJWEkbfRgk47XcQIUk&loveU=mp.weixin.qq.com" data-role="none">
        <div class="text">微赢销CEO张旭：来往易信的做法很快会歇菜</div>
            <p></p>
        </a><a href="index.php@g=Wap&m=Index&a=content&id=828&token=1280278480&wecha_id=o0LVquEUQZAJWEkbfRgk47XcQIUk&loveU=mp.weixin.qq.com" data-role="none">
        <div class="text">微赢销邯郸分公司上线</div>
            <p></p>
        </a><a href="index.php@g=Wap&m=Index&a=content&id=675&token=1280278480&wecha_id=o0LVquEUQZAJWEkbfRgk47XcQIUk&loveU=mp.weixin.qq.com" data-role="none">
        <div class="text">微赢销最新官方网站改版上线！</div>
            <p></p>
        </a><a href="index.php@g=Wap&m=Index&a=content&id=674&token=1280278480&wecha_id=o0LVquEUQZAJWEkbfRgk47XcQIUk&loveU=mp.weixin.qq.com" data-role="none">
        <div class="text">微赢销重庆分公司团队正式组建完毕</div>
            <p></p>
        </a><a href="index.php@g=Wap&m=Index&a=content&id=673&token=1280278480&wecha_id=o0LVquEUQZAJWEkbfRgk47XcQIUk&loveU=mp.weixin.qq.com" data-role="none">
        <div class="text">微赢销武汉分公司与江城顶级家具品牌香江集团战略合作</div>
            <p></p>
        </a><a href="index.php@g=Wap&m=Index&a=content&id=306&token=1280278480&wecha_id=o0LVquEUQZAJWEkbfRgk47XcQIUk&loveU=mp.weixin.qq.com" data-role="none">
        <div class="text">微信支付冲击的不是实物电商，而是本地服务</div>
            <p></p>
        </a><a href="index.php@g=Wap&m=Index&a=content&id=483&token=1280278480&wecha_id=o0LVquEUQZAJWEkbfRgk47XcQIUk&loveU=mp.weixin.qq.com" data-role="none">
        <div class="text">微网站改变格局 让营销模式回归本源</div>
            <p></p>
        </a><a href="index.php@g=Wap&m=Index&a=content&id=305&token=1280278480&wecha_id=o0LVquEUQZAJWEkbfRgk47XcQIUk&loveU=mp.weixin.qq.com" data-role="none">
        <div class="text">如何抓住微信5.0，改变打折营销陷阱！</div>
            <p></p>
        </a>    <!--
<div class="button">
<a href="#" class="prve" data-role="none">上一页</a>
<a href="#" class="next" data-role="none">下一页</a>
</div>
-->
</div>
{% endblock %}